#rectangle {
    float: left;
    height: 60em;
    width: 15em;
    background-color: #636487;
    position: relative;
    left: -12%;
    transition: .3s linear;
}
.open {
    left: 0% !important;
}

/*rectangle region ends here*/

button {
    display: inline;
    float: left;
    border: none;
    width: 8%;
    height: 10em;
    background-color: #2f2f45;
    cursor: pointer;
    position: relative;
    left: -14%;
    transition: .3s linear;
}
.openButton {
    left: 0% !important;
}
/*button region ends here*/

.line {
    border: 10px solid;
    border-color: #dadae8;
    margin: 1em 2em;
} 
.topLineAnimation {
    animation: rotateTop .1s ease-in;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

    @keyframes rotateTop {
        0% {
            transform: rotate(0deg) translate(0px, 2px);
        }
        100% {
            transform: rotate(45deg) translate(20px, 27px);
            
        }
    }
.middleLineAnimation {
    animation: middleDisappear .1s ease-in;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
    @keyframes middleDisappear {
        0% {
            opacity: 100%;
        }
        100% {
            opacity: 0%;
        }
    }
.bottomLineAnimation {
    animation: rotateBottom .1s ease-in;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
    @keyframes rotateBottom {
        0% {
            transform: rotate(0deg) translate(0px, -2px);
            top: 0px;
        }
        100% {
            transform: rotate(-45deg) translate(20px, -27px);
            top: 45px;
        }
    }
/*open animations region ends here*/

.bottomLineAnimationOut {
    animation: rotateBottomOut .1s ease-in;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
@keyframes rotateBottomOut {
    0% {
        transform: rotate(-45deg) translate(20px, -27px);
        top: 45px;
    }
    100% {
        transform: rotate(0deg) translate(0px, -2px);
        top: 0px;
    }
}
.topLineAnimationOut {
    animation: rotateTopOut .1s ease-in;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
        @keyframes rotateTopOut {
        0% {
            transform: rotate(45deg) translate(20px, 27px);
        }
        100% {
            transform: rotate(0deg) translate(0px, 2px);
        }
        }
.middleLineAnimationOut {
    animation: middleAppear .1s ease-in;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
        @keyframes middleAppear {
            0% {
                opacity: 0%;
            }
            100% {
                opacity: 100%;
            }
        }
/*close animations region ends here*/
/*line region ends here*/
